*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* border: 2px solid red; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  background: #444;
}

.wrapper {
  /* border: 2px solid red; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* border: 2px solid red; */
  max-width: 500px;
  width: 93%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: wheat;
  /* border-radius: 5px; */
  outline: none;
  border: none;
  margin: 2rem 0;
}

.first {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.top {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  align-items: center;
  background: #7c59b0;
  color: white;
  padding: 0.6em;

  border: none;
  outline: none;
}

i {
  font-size: 1.8rem;
}

.middle {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2em;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item h3 {
  font-size: 1.1rem;
}

input {
  display: inline-block;
  width: 100%;
  background: #444444;
  padding: 0.3em;
  border-radius: 3px;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
}

.button {
  padding: 1.2em;
  margin-top: -1rem;
}

button {
  border: 2px solid red;
  font-size: 1rem;
  padding: 0.5em 1.4em;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #8862c2;
  color: white;
  cursor: pointer;
}

.second {
  border: 2px solid red;
}

table {
  padding: 1.2em;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

tr {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

td {
  /* border: 2px solid red; */
  padding: 0.4rem;
  flex-basis: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #444444;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

tbody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

tbody td {
  word-break: break-all;
  text-align: center;
}

img {
  display: block;
  width: 23px;
  object-position: center;
  border-radius: 50%;
  outline: none;
  border: none;
  object-fit: contain;
  object-position: center;
}

.pointer {
  cursor: pointer;
}

.temporary {
  display: none;
}

@media screen and (max-width: 500px) {
  .top {
    font-size: 1.1rem;
  }
  i {
    font-size: 1.6rem;
  }
  td {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 400px) {
  thead,
  tbody tr {
    background: #444;
    padding: 1em 0;
  }
  td {
    flex-basis: 25%;
  }

  .flex-1 {
    margin-left: -15px;
    background: transparent;
  }
  .flex-2 {
    margin-left: -8px;
    background: transparent;
  }
}

@media screen and (max-width: 350px) {
  .permanent {
    display: none;
  }
  .temporary {
    display: flex;
  }
  .flex-1 {
    margin-left: -14px;
    background: transparent;
  }
  .flex-2 {
    margin-left: -10px;
  }
}